services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/react_bun_app
      NODE_ENV: production
      # Better Auth environment variables
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET:-secret}
      BETTER_AUTH_URL: ${VITE_PUBLIC_URL}
      VITE_PUBLIC_URL: ${VITE_PUBLIC_URL}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - "3000:3000"
    command: >
      sh -c "
        until pg_isready -h db -p 5432; do sleep 2; done &&
        bun x prisma migrate deploy &&
        bun start
      "
    networks:
      - app-network

  db:
    image: postgres:15-bookworm
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: react_bun_app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
